/* Shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* text and other same colors*/
.text-primary {
    color: #FD6E0A;
}

/* Nav Style*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;   
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

/*button Primary tag*/
.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}